body {
    font-family: Arial;
}
.container {
    margin: auto 50px;
    height: 100%;
    text-decoration: none;
}
.section-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 50px;
    padding-top: 127px;
    margin-bottom: 41px;
}
/************************HEADER******************************/
header {
    height: 80px;
    width: 100%;
    background-color: #000;
}
.header-menu {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 39px
}
.logotype {
    margin-right: auto;
}
.logo {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: 33px 33px;
    padding-top: 6px;
    padding-left: 35px;
    padding-bottom: 6px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
.phone-number {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.phone-number span {
    color: #D6AF76;
    margin-right: 5px;
}
.call-back-link a{
    background-image: url("../img/callback-img.png");
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: 10% 50%;
    border: 1px solid #E4B564;
    padding: 10px 25px 10px 40px;
    text-decoration: none;
    color: #E4B564;
}
.call-back-link a:hover {
    background-color: #E4B564;
    color: #fff;
}
/************************HEADER END******************************/


/******************SECTION HEATING NETWORK*********************/
.heating-network {
    height: 100%;
    width: 100%;
    background-color: #002;
}
.text-heating-network {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 41px;
}
.services-heating-network {
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2,  400px);
    grid-gap: 27px;
}
.services-heating-network li {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.ground-works {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #634F2C;
}
.underground-laying {
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: #B4A385;
}
.arrangement-channels {
    grid-column-start: 5;
    grid-column-end: 7;
    background-color: #E4B564;
}
.fixed-supports {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #635A4A;
}
.reinforced-concrete-wells {
    grid-column-start: 4;
    grid-column-end: 7;
    background-color: #B08C4D;
}
.services-heating-network li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}
/***********SECTION HEATING NETWORK END************/

/*********************AUTO PARK**********************/
.own-auto-park {
    height: 100%;
    width: 100%;
    background-color: #002;
}
.equipment-list {
    height: 1000px;
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
}
.equipment {
    display: flex;
}
.equipment a{
    color: white;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    padding-top: 44px;
    padding-left: 51px;
}
.equipment a span {
    text-transform: uppercase;
}
.equipment-list li:nth-child(1) {
    height: 313px;
    background-color: #0E0E0E;
}
.equipment-list li:nth-child(2) {
    height: 560px;
    background-color: #1F1F1F;
}
.equipment-list li:nth-child(3) {
    height: 439px;
    background-color: #242424;
}
.equipment-list li:nth-child(4) {
    height: 405px;
    background-color: #E4B564;
}
.equipment-list li:nth-child(5) {
    height: 255px;
    background-color: #1F1F1F;
}
.equipment-list li:nth-child(6) {
    height: 313px;
    background-color: #0E0E0E;
}
.equipment-list li:nth-child(7) {
    height: 277px;
    background-color: #0A0909;
}
/*************AUTO PARK END**************/

/*******CLIENTS AND PROJECTS**********/
.clients-and-projects {
    background-color: #002;
    height: 1200px;
}
.all-projects-title-and-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.all-projects-link {
    margin-top: 127px;
    margin-bottom: 41px;
    border: 1px solid #E4B564;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
    color: #E4B564;
}
.our-clients-projects {
    display: grid;
    grid-template-rows: repeat(2, 391px);
    grid-template-columns: repeat(3, 1fr);
}
.our-clients-projects li {
    background-color: #E4B564;
    border: 1px solid #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
}
.eid {
    background-image: url("../img/eid.png");
    background-size: 190px 50px;
}
.arsenal {
    background-image: url("../img/arsenal.png");
    background-size: 190px 50px;
}
.mavis {
    background-image: url("../img/mavis.png");
    /*background-position: center 50px;*/
    background-size: 100px 90px;
}
.sig {
    background-image: url("../img/setigroup.png");
    background-size: 100px 50px;
}
.our-clients-projects li a {
    height: 100%;
    width: 100%;
}
.info {
    text-align: center;
    display:none;
    position: absolute;
    color: #ffffff;
    left: calc(100% / 2 - 50%);
    top: calc(100% / 2);
    visibility: hidden;
}
a:hover, .our-clients-projects li:hover {
    background-position: center 70px;
}
a:hover .info {
    visibility: visible;
    display: inline-block;
}
/*******CLIENTS AND PROJECTS END**********/









