@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top-color: #767676;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spinner 0.6s linear infinite;
}