body {
    background: #e5e5e5;
    margin: 0 10% 0 10%;
    font-family: 'Roboto', sans-serif;
}

.main {
    margin: 0;
    background: #ffffff;
}

header {
    text-align: center;
}
.head_links {
    background-color: #fff;
    list-style: none;
    margin: 0;
    padding: 20px;


}

.head_links li{
    display: inline;
}

.link {
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    padding: 20px 20px;
    text-transform: uppercase;
    font-style: revert;
    color: #ff0000;

            background-image: linear-gradient(transparent 50%, #e5e5e5 100%);
            background-size: 100% 200%;
            background-position: top;
            /*transition: background-position 0.5s ease-in-out;*/
}
        .link:hover {
            background-position: bottom;
        }

.content {
    background: #ffffff;
}

.content-title {
    margin: 0 0 0 170px;
    padding: 30px 0px 20px 0px;

}

.content-text {
    margin: 0;
    text-align: center;
    font-size: 16px;
    padding: 10px 100px 10px 100px;
}

.button_google {

    background: #ffffff;
    text-align: center;
    padding: 70px;   /* no */

;
}

.button_google a {
    cursor: pointer;
    border-radius: 5px;
    background: #ff0000;
    color: #ffffff;
    text-decoration: none;
    padding: 20px 40px;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
}


.footer {
    background: #ffffff;
    padding: 30px 100px;
    font-weight: bold;
}









