
body {
    width: 1280px;
    margin: 0 auto;
    height: 100%;
    font-family: 'montserrat', Arial, sans-serif;

}
/*========================LOGOTYPE========================*/
.logo-container {
    margin-top: 65px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
}
.logo-link {
    width: 335px;
    height: 80px;
    font-weight: 400;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.logo-text-ra {
    color: #000000;
}
.logo-text-mda {
    color: #4BCAFF;
}
/*========================LOGOTYPE END======================*/


/*===========================NAVBAR HEADER==========================*/
.navbar-header-list {
    background-color: #35444F;
    display: flex;
    justify-content: center;
}
.navbar-header-link {
    height: 70px;
    border-left: 1px solid #ffffff;
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 0 38px;
}
.navbar-header-link:hover {
    background-color: #222F3A;
}
.end-header-link {
    border-right: 1px solid #ffffff;
}
/*========================NAVBAR HEADER END========================*/


/*========================SECTION=======================*/
section {
    margin-top: 48px;
    display: flex;
    flex: auto;
    justify-content: space-between;
}

/*----------------------LEFT-MULTIBAR-------------------------*/
.sidebar {


    border: 1px solid #000;
    height: 100%;
    width: 345px;
}
.sidebar-link {
    text-align: start;
    height: calc(398px / 5);
}
.sidebar-link a{
    display: flex;
    align-items: center;
    font-size: 27px;
    padding-left: 44px;
    height: 100%;
    color: #485863;
}
.sidebar-link a:hover {
    color: #000000;
    background-color: #DBDBDB;
    padding-left: 60px;
}
/*-------------------------LEFT MULTIBAR END-------------------------*/


/*-------------------------MAIN PHOTO-------------------------*/
.main {
    width: 885px;
    display: flex;
    flex-direction: column;
    row-gap: 55px;
    margin-bottom: 48px;
}
picture {
    height: 530px;
    width: 885px;
    background-color: wheat;
    border: 1px solid #000;
    overflow: hidden;
}
.article-img {
    width: 100%;
    height: 100%;
    transition: transform 0.45s;
}
picture:hover img {
    transform: scale(1.1);
}
/*-------------------------MAIN PHOTO END-------------------------*/

/*-------------------------MAIN TEXT-------------------------*/
.article-text {
    color: #2C2C2C;
    font-weight: 400;
    font-size: 18px;
}
.article-text p:last-of-type {
    flex-grow: 1;
}
/*-------------------------MAIN TEXT END-------------------------*/

/*========================SECTION END=======================*/


/*=====================NAVBAR FOOTER =====================*/
footer {
    background-color: #63696E7A;
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin-bottom: 30px;
}
.navbar-footer-list {
    display: flex;
}
.navbar-footer-link {
    font-size: 28px;
    margin: auto;
    padding-left: 20px;
}
.navbar-copyright {
    margin: auto 0;
    font-size: 24px;
    color: #010101;
    padding-right: 20px;
}
a {
    color: #0C1927;
}
.navbar-footer-link a:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    padding-bottom: 10px;
    /*text-decoration-line: underline;*/
}
/*=====================NAVBAR FOOTER END=====================*/