* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #ffbe00;
    font-family: sans-serif;
    font-size: 5vw;
    line-height: 1.3;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    perspective: 380px;
    perspective-origin: bottom;
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: visible;
    transform: scaleY(0.9);
}

.star-wars {
    position: absolute;
    top: -20%;
    left: 13%;
    right: 13%;
    animation: play 30s linear infinite;
    text-align: justify;
}

.sw-titles {
    margin-bottom: 5rem;
}
h1 {
    margin-bottom: 3rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}
h2 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}
p {
    padding: 0.5rem 0;
}
@keyframes play {
    0% {
        transform: rotateX(21deg) translate3d(0, 100rem, 0);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotateX(21deg) translate3d(0, -150rem, 0);
        opacity: 0;
    }
}