body::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url("../img/main-background-theme.jpg");
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px);
}
body {
    font-family: 'Roboto', 'sans-serif';
}
header {
    margin-top: 50px;
}

.container {
    margin-left: 165px;
    margin-right: 165px;
}

/***********HEADER************/
/**********LOGOTYPE************/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
}
.logotype {
}
.logo {
    height: 48px;
    width: 155px;
    text-decoration: none;
    display: grid;
    grid-template-columns: 53px 97px;
    grid-column-gap: 8px;
}
.logo img {
    line-height: 50px;
    height: 47px;
    width: 53px;
    grid-row-start: 1;
    grid-row-end: 3;
}
.orange-logo-pic {
    display: none;
}
.logo span {
    text-transform: uppercase;
    color: #fff;
}
.name-part-milan {
    font-size: 29px;
    line-height: 29px;
    font-weight: 700;
}
.name-part-holidays {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    padding-top: 3px;
}
.logo:hover .name-part-milan,
.logo:hover .name-part-holidays {
    color: #F26522;
}
.logo:hover .white-logo-pic {
    display: none;
}
.logo:hover .orange-logo-pic {
    display: inline;
}
/**********LOGOTYPE END************/

/***********CONTACTS************/
.contacts {
    display: flex;
    flex-direction: column;
    gap: 19px;
}
.contacts a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}
.email:hover,
.phone-number:hover {
    color: #F26522;
}
/***********CONTACTS END************/
/***********HEADER END************/

/**************MAIN****************/
main {
    margin-bottom: 126px;
}
.category-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 220px);
    column-gap: 62px;
    row-gap: 78px;
}
.category-list li {
    border-left: 2px solid;
    border-right: 2px solid;
    border-image: linear-gradient(to bottom, #fff, #000) 1 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    vertical-align: bottom;
}
.category-list li a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    padding-top: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.category-name {
    position: absolute;
    top: calc(100% + 20px);
}
.shopping-tours {
    background-image: url("../img/shopping-tours.jpg");
}
.sightseeing-tours {
    background-image: url("../img/sightseeing-tours.jpg");
}
.food-tours {
    background-image: url("../img/food-tours.jpg");
}
.bars-nightlife {
    background-image: url("../img/bars-nightlife.jpg");
}
.art-architecture {
    background-image: url("../img/art-architecture.jpg");
}
.walking-tours {

    background-image: url("../img/walking-tours.jpg");
}
.category-list li a:hover .category-name{
    color: #F26522;
}
.category-list li a:hover .category-info-block {
    height: 55px;
    top:calc(100% - 55px);
    background-color: #F26522;
    transition: 0.2s;
    opacity: 1;
    margin: 0;
}
.category-info-block {
    top: 100%;
    position: relative;
    height: 55px;
    width: 100%;
    background-color: #F26522;
    transition: 0.2s;
}
.from-price {
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    Top: 11px;
    Left: 21px;
}
.category-price {
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 29px;
    left: 21px;
}
.view-details {
    font-size: 14px;
    line-height: 14px;
    position: absolute;
    top: 31px;
    right: 45px;
    text-transform: capitalize;
}
.view-details-arrow {
    height: 7px;
    width: 7px;
    position: absolute;
    top: 35px;
    right: 22px;
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    transform: rotate(-45deg);
}
/******************MAIN END*****************/
/**********************COPYRIGHT**********************/
footer {
    margin-bottom: 15px;
}
.copyright {
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
}
/*******************COPYRIGHT END**********************/