body::before {
    content: '';
    position: fixed;
    background-image: url("../img/main_background_theme.jpg");
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
}
body {
    font-family: Ubuntu, 'sans-serif';
}
.container {
    margin-left: 79px;
    margin-right: 79px;
}
header {
    height: 58px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
main {
    height: 100vh;
    width: 100%;
}
/*****************HEADER*****************/
.header {
    height: 58px;
    width: 100%;
    display: flex;
    align-items: center;
}
.logotype {
    display: inline-block;
    margin-right: auto;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.calendar {
    cursor: pointer;
    margin-right: 27px;
    border: 0;
    padding: 0;
    height: 24px;
    width: 21px;
    background-color: transparent;
}
.envelope {
    cursor: pointer;
    margin-right: 24px;
    border: 0;
    padding: 0;
    height: 23px;
    width: 23px;
    background-color: transparent;
}
.compass {
     cursor: pointer;
     margin-right: 51px;
     border: 0;
     padding: 0;
     height: 23px;
     width: 22px;
     background-color: transparent;
}
.log-sign-header::before {
    position: absolute;
    content: ' ';
    opacity: 50%;
    height: 19px;
    width: 1px;
    margin-top: -3px;
    margin-left: -25px;
    background-color: rgba(255, 255, 255, 0.9);
}
.log-sign-header {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
}
.log-sign-header a {
    text-decoration: none;
    text-transform: capitalize;
    color: #FFFFFF;
}
.logotype,
.log-sign-header a,
.calendar svg path,
.envelope svg path,
.compass svg path
{
    transition: 0.4s;
}
.logotype:hover,
.log-in-header-button:hover,
.sign-up-header-button:hover,
.calendar:hover svg path,
.envelope:hover svg path,
.compass:hover svg path,
.terms-and-conditions-link:hover {
    fill: #01813F;
    color: #01813F;
    transition: 0.4s;
}
/****************HEADER END****************/

/***************SIGN UP FORM****************/
.sign-up-form {
    /*margin: 29px 60px 38px 60px;*/
    position: relative;
    top: calc(50% - (584px / 2));
    left: calc(50% - (444px / 2));
    height: 584px;
    width: 444px;
    background-color: #fff;
}
.sign-up-form::before {
    content: "";
    position: absolute;
    top: 29px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #3CB878;
    z-index: 15;
}
.sign-up-form-container {
    height: 100%;
    width: 100%;
    position: relative;
}
.sign-up-form-title-login-google-facebook {
    display: grid;
    grid-template-columns: 157px 157px;
    grid-template-rows: 20px 46px;
    grid-column-gap: 8px;
    grid-row-gap: 16px;
    justify-content: center;
    padding-top: 29px;
}
.sign-up-form-title {
    position: relative;
    left: 0;
    font-size: 20px;
    line-height: 20px;
    text-transform: capitalize;
}
.quick-login-link {
    width: 39px;
    height: 14px;
    position: relative;
    left: calc(100% - 39px);
    font-size: 14px;
    line-height: 14px;
    text-transform: capitalize;
    text-decoration: none;
    color: #3CB878;
}
.quick-login-link:hover {
    color: #01813F;
    text-decoration: underline;
    transition: 0.4s;
}
.form-btn {
    position: relative;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    width: 160px;
    height: 48px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quick-login-facebook-btn {
    padding-left: 16px;
    padding-right: 20px;
    background-color: #305DB8;
}
.quick-login-facebook-btn:hover {
    background-color: #022263;
    transition: 0.4s;
}
.facebook-logo-btn::after {
    top: 10px;
    left: 48px;
    content: "";
    height: 28px;
    width: 1px;
    position: absolute;
    background-color: #0A162F;
    opacity: 10%;
}
.quick-login-google-btn {
    padding-left: 10px;
    padding-right: 26px;
    left: calc(100% - 160px);
    background-color: #DF4A32;
}
.quick-login-google-btn:hover {
    background-color: #AB1F09;
    transition: 0.4s;
}
.google-logo-btn::after {
    top: 10px;
    left: 49px;
    content: "";
    height: 28px;
    width: 1px;
    position: absolute;
    background-color: #2B0D09;
    Opacity: 10%;
}
.sign-up-form-text-or:before {
    content: " ";
    position: absolute;
    top: 33px;
    height: 1px;
    width: 154px;
    left: -154px;
    background-color: #F2F2F2;
}
.sign-up-form-text-or {
    margin: 0 auto;
    height: 14px;
    width: 15px;
    color: #848484;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    position: relative;
    padding-top: 25px;
}
.sign-up-form-text-or:after {
    content: " ";
    position: absolute;
    top: 33px;
    height: 1px;
    width: 154px;
    background-color: #F2F2F2;
}
.full-new-sign-up {
    margin: 0 auto;
    padding-top: 11px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 324px;
}
.full-new-sign-up input {
    padding: 0 20px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    height: 45px;
    outline: none;
    color: #434343;
}
.full-new-sign-up input:focus {
    border: 1px solid transparent;
    box-shadow: 0 0 3px #000000;
    opacity: 0.2;
    transition: 0.4s;
}
.terms-and-conditions {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: baseline;
    margin-top: 10px;
    width: 324px;
    height: 14px;
}
.terms-and-conditions label,
.terms-and-conditions a {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}
.terms-and-conditions-checkbox-class {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
/****************************/
.terms-and-conditions-checkbox-class+label {
    cursor: pointer;
    user-select: none;
}
.terms-and-conditions-checkbox-class+label::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 8px;
    border: 1px solid #F2F2F2;
    border-radius: 1px;
}
.custom-checkbox {
    position: relative;
    height: 11px;
    width: 4px;
    left: -235px;
    top: -3px;
    visibility: hidden;
    border-bottom: 1px solid #01813F;
    border-right: 1px solid #01813F;
    transform: rotate(35deg)
}
#terms-and-conditions-checkbox:checked ~ .custom-checkbox {
    visibility: visible;
}
/****************************/
.terms-and-conditions-link {
    color: #3CB878;
    text-decoration: none;
    transition: 0.4s;
}
.terms-and-conditions:hover .terms-and-conditions-link {
    text-decoration: underline;
}
#terms-and-conditions-checkbox:checked ~ .terms-and-conditions-link {
    text-decoration: underline;
}
.create-account-btn-container {
    margin: 0 auto;
    padding-top: 20px;
    width: 324px;
}
.create-account-btn {
    border-radius: 4px;
    background-color: rgba(60, 184, 120, 0.8);
    height: 46px;
    width: 324px;
    border: 0;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;
}
.create-account-btn:hover {
    background-color: #01813F;
    transition: 0.4s;
}
.quick-login-link,
.full-new-sign-up input,
.create-account-btn,
.quick-login-facebook-btn,
.quick-login-google-btn {
    transition: 0.4s;
}




