body {
    box-sizing: border-box;
    background-color: #01477d;
    margin: 0;
    padding: 0;
}
/****************************************/
.first-table {
    margin: 50px auto;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
    border-collapse: collapse;
    text-transform: uppercase;
    text-align: center;
}
th, td {
    border: 1px solid #d9d9d9;
}
.white-bgc {
    background-color: #FAFAFA;
}
.main-title-pricing-plan {
    height: 159px;
    width: 313px;
    background-color:  #FAFAFA;
    color: #484848;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}
.title-pricing-plan span {
    font-size: 30px;
}
.title-standard-plan {
    border: 0;
    height: 73px;
    width: 283px;
    background-color:  #89C331;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.title-ultimate-plan {
    border: 0;
    height: 73px;
    width: 283px;
    background-color:  #F04A56;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
}
.title-premium-plan {
    border: 0;
    height: 73px;
    width: 283px;
    background-color:  #20807C;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.price-standard-plan,
.title-ultimate-plan,
.title-premium-plan {
    box-sizing: border-box;
    height: 89px;
    width: 280px;
}
.integer-sum-price {
    position: relative;
    top: 16px;
    left: 10px;
    font-weight: 700;
    font-size: 60px;
    line-height: 28px;
    color: #484848;
}
.rest-sum-price {
    position: relative;
    top: -22px;
    left: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #484848;
}
.sub-period {
    position: relative;
    left: -19px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #484848;
}
.storage,
.email,
.products {
    height: 72px;
    background-color: #F2F2F2;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
.bandwidth,
.support,
.users {
    height: 72px;
    background-color: #E3E3E3;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
.buttons {
    height: 110px;
}
.contact-us-btn-area {
    background-color: #DDDDDD;
}
.standard-btn-area,
.premium-btn-area {
    background-color: #EEEEEE;
}
.ultimate-btn-area {
    background-color: #F4F4F4;
}
.contact-us-btn {
    background-color: #484848;
    border-radius: 5px;
    border: 0;
    height: 55px;
    width: 195px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow:inset 0 -9px 0 0 rgba(0,0,0,0.17);
}
.standard-btn {
    background-color: #89C331;
}
.ultimate-btn {
    background-color: #F04A56;
}
.premium-btn {
    background-color: #20807C;
}
.standard-btn,
.ultimate-btn,
.premium-btn {
    border-radius: 5px;
    border: 0;
    height: 51px;
    width: 192px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow:inset 0 -9px 0 0 rgba(0,0,0,0.17);
}

/*****************************************************/

.second-table {
    margin: 50px auto;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    text-align: center;
    border-collapse: collapse;
}
.first-row {
    height: 100px;
}
.hidden-row {
    height: 15px;
}
.second-row,
.third-row,
.forth-row {
    height: 164px;
    width: 201px;
}
.first-row th:nth-child(odd),
.second-row td:nth-child(odd),
.third-row td:nth-child(odd),
.forth-row td:nth-child(odd) {
    background-color: #F2F2F2;
}
.first-row th:nth-child(even),
.second-row td:nth-child(even),
.third-row td:nth-child(even),
.forth-row td:nth-child(even) {
    background-color: #E3E3E3;
}

.first-row th span{
    font-size: 20px;
    line-height: 28px;
    color: #484848;
    font-weight: 700;
}
.st-main-title {
    font-size: 14px;
    line-height: 28px;
    color: #484848;
    font-weight: 700;
    height: 100px;
    width: 201px;
}
.second-table-storage-title,
.second-table-bandwidth-title,
.second-table-email-title,
.second-table-support-title,
.second-table-products-title,
.second-table-users-title {
    width: 160px;
}
#st-price-standard-plan {
    background-color: #89C331;
}
#st-price-ultimate-plan {
    background-color: #F04A56;
}
#st-price-premium-plan {
    background-color: #20807C;
}
.st-price-standard-plan,
.st-price-ultimate-plan,
.st-price-premium-plan {
    height: 164px;
    width: 201px;
}

.plan-name {
    position: relative;
    top: -15px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.st-integer-sum-price {
    position: relative;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 36px;
    line-height: 28px;
}
.st-rest-sum-price {
    position: relative;
    color: #FFFFFF;
    top: -15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}
.st-sub-period {
    position: relative;
    color: #FFFFFF;
    top: -7px;
    left: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
}
.st-contact-us-btn {
    position: relative;
    top: 14px;
    background-color: #414141;
    border-radius: 5px;
    border: 0;
    height: 44px;
    width: 147px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow:inset 0 -9px 0 0 rgba(0,0,0,0.17);
}
.second-row td,
.third-row td,
.forth-row td {
    color: #484848;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


