body {
    background-color: #FFFFFF;
}
/*****HEADER*****/
.header {
    position: fixed;
    z-index: 3;
    background-color: #FFFFFF;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logotype {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 36px;
}
.logotype:hover span{
    text-shadow: 1px 1px gray;
    transition: 0.5s;
}
.logo-company-word {
    color: #424F57;
    font-weight: 300;
    transition: 0.5s;
}
.logo-name-word {
    color: #14AFCA;
    font-weight: 900;
    text-transform: uppercase;
    transition: 0.5s;
}
.header-menu {
    width: 595px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-menu li a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #3E4C4E;
    font-weight: 700;
    transition: 0.5s;
}
.header-menu li a:hover {
    color: #14AFCA;
    transition: 0.5s;
}
/******btn theme*******/
.theme-btn {
    height: 23px;
    width: 23px;
    background-color: #dcdcdc;
    border-radius: 3px;
    position: fixed;
    z-index: 3;
    top: 2%;
    right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.theme-btn:hover div svg {
    transition: .3s;
    height: 90%;
    width: 90%;
}
.theme-btn div {
    display: none;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}
.day-icon {
    background: #72ceff;
}
.night-icon {
    background: #00396d;
}
#active {

    display: flex;
    justify-content: center;
    align-items: center;
}
.theme-btn svg {
    transition: .3s;
}
/******btn theme end*******/

/*****HEADER END*****/


/*****BACKGROUND IMG*****/
.banner-section,
.companies-section,
.testimonials-section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 700px;
    width: 100%;
}
.banner-section {
    background-image: url(../img/background1.jpg);
    clip-path: polygon(100.00% 0.00%,100.00% 85.03%,50.74% 100%,0.00% 85.79%,0.00% 0.00%);
}
.companies-section {
    background-image: url(../img/background2.jpg);
    clip-path: polygon(50.00% 15.00%,100.00% 0.00%,100.00% 100%,0.00% 100%,0.00% 0.00%);
}
.testimonials-section {
    background-image: url(../img/background3.jpg);
    clip-path: polygon(50.00% 15.00%,100.00% 0.00%,100.00% 85.00%,50.00% 100%,0.00% 85.00%,0.00% 0.00%);
}
.banner-section::after,
.companies-section::after,
.testimonials-section::after {
    content: " ";
    position: fixed;
    top: 0;
    z-index: -3;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
}
/************************/
/*****TITLES*****/
.what-title,
.companies-title,
.meet-us-title,
.testimonials-title,
.why-title {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    color: #14AFCA;
}
/****************/
/*SUBTITLES-white background*/
.what-subtitle,
.meet-us-subtitle,
.why-subtitle {
    font-family:  'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    color: #424F57;
}
/****************************/
/*SUBTITLES-img background*/
.companies-subtitle,
.testimonials-subtitle{
    font-family:  'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 75px;
    color: #FFFFFF;
    width: 100%;
    margin-bottom: 40px;
}
/****************************/
/**********BANNER***********/
.banner {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tagline {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    font-size: 52px;
    line-height: 75px;
    font-weight: 900;
}
/**********BANNER END**************/



/************WHAT**************/
.what-section {
    height: 440px;
    width: 100%;
}
.what {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: -1;
    top: calc(440px / 3.3);
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}
.what-text {
    font-family:  'Roboto', sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #424F57;
}
/************WHAT END**************/




/*****COMPANIES*****/
.companies{
    display: flex;
    flex-direction: column;
    position: relative;
    top: calc(440px / 3.3);
    text-align: center;
    margin-left: 210px;
    margin-right: 210px;
}
.company-list {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(2, 100px);
    justify-content: space-between;
    row-gap: 90px;
    align-items: center;
}
.company-link svg path {
    transition: 0.5s;
}
.company-link:hover svg path{
    transition: 0.5s;
    fill: #4BCAFF;
}
/*******COMPANIES END**********/



/*******MEET US**********/
.meet-us-section {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 160px;
    text-align: center;
}
.character-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 200px;
}
.character-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #424F57;
    transition: 0.8s;

}
.character-link img {
    margin: 0 auto 20px auto;
    height: 200px;
    width: 200px;
    transition: 0.5s;
}
.character-description {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 10px;
}
.character-link:hover img{
    transform: scale(1.1);
    transition: 0.5s;
}
.character-link:hover {
    background-color: wheat;
    transition: 0.8s;
    border-radius: 5px;
    box-shadow: 3px 3px #888888;
}

/*******MEET US END*********/




/**********TESTIMONIALS***********/
.testimonials {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: -1;
    top: calc(440px / 2);
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}
.testimonials-text {
    font-family:  'Roboto', sans-serif;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #D3CCCC;
}
.testimonials-text-author {
    font-family:  'Roboto', sans-serif;
    font-style: italic;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #FFFF;
    margin-top: 30px;
    margin-right: 120px;
    margin-left: auto;
}
/**********TESTIMONIALS END************/



/**********WHY***********/
.why {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: -1;
    top: 105px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}
.why-example {
    margin-top: 10px;
    font-family:  'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    color: #424F57;
    text-transform: uppercase;
}
/**********WHY END*************/




/*********FOOTER***********/
.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 3;
    top: calc(440px / 3.3);
    padding-top: 150px;
    padding-bottom: 90px;
}
.copyright,
.design-by,
.bold-design-by {
    font-family:  'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #3D3C3C;
}
.bold-design-by {
    font-size: 16px;
    font-weight: 700;
}
/***************************/


